body {
    font-size: 16px;
    line-height: 1.5;
}

/* header */
#site-header .navbar {
    border-radius: 0;
    border: 0 solid;
    margin: 0;
}

/* main section */
#site-main {
    padding: 50px 20px;
}

/* footer */

#site-footer {
    text-align: center;
    padding: 30px 20px;
    font-size: .75em;
    background: #222;
    color: #999;
}
