<div class="jumbotron text-center">
    <h1>Your Urls</h1>
</div>
<table class="table table-bordered table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>Url Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <% for (var url of urls) { %>

            <tr>
                <td><%= url.name%></td>
                <td><%= url.description%></td>
                <td>
                    <button type="button" class="btn btn-default btn-success">
                        Copy: <%= url.body %>
                    </button>
                </td>
            </tr>

        <% } %>

    </tbody>
</table>
